<div class="job-details-main-toolbar">
  <h1 itemprop="title">{{job.title}}</h1>
</div>
<div class="job-details-secondary-toolbar">
  <div class="job-company" itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization">
    <h2 itemprop="name">{{job.company}}</h2>
  </div>
  <time class="job-date" itemprop="datePosted">{{job.prettydate}}</time>
</div>
<div class="job-details-content" itemprop="description">
  {{markdown-to-html job.description}}
</div>
<div class="ad-toolbar">
  <h3><a href="//treehouse.7eer.net/c/375914/243386/3944">Learn Web Design, Coding, & More.</a></h3>
  <img height="0" width="0" src="//treehouse.7eer.net/i/375914/243386/3944" style="position:absolute;visibility:hidden;" border="0" />
</div>
<div class="job-details-main-toolbar">
  {{#link-to 'index' class="nav-button"}}
    Back
  {{/link-to}}
  <a href={{job.url}} target="_blank" class="nav-button" itemprop="url">
    Apply
  </a>
</div>
