<div class="job-details-main-toolbar">
  <h1 itemprop="title">{{job.attributes.title}}</h1>
</div>
<div class="job-details-secondary-toolbar">
  <div class="job-company" itemprop="hiringOrganization" itemscope itemtype="http://schema.org/Organization">
    <h2 itemprop="name">{{job.attributes.company}}</h2>
  </div>
  <time class="job-date" itemprop="datePosted">{{job.attributes.prettydate}}</time>
</div>
<div class="job-details-content" itemprop="description">
  {{markdown-to-html job.attributes.description}}
</div>
<div class="job-details-main-toolbar">
  {{#link-to 'index' class="nav-button"}}
    Back
  {{/link-to}}
  <a href={{job.attributes.url}} target="_blank" class="nav-button" itemprop="url">
    Apply
  </a>
</div>
